<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<!-- Mude acesso do banco para o acesso do sql server da sua maquina -->
        <add name="ProjetoBancoSQL.My.MySettings.conexao" connectionString="Data Source=;Initial Catalog=CadastroM;Persist Security Info=True;User ID=;Password=;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>